

.lists{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.lists li{
    color: gray;
    font-size: 20px;
    cursor: pointer;
    
}
.active1 {
    color: rgb(41, 104, 156) !important;
    transform: translateY(-5px);
    
  }
.lists :hover{
    color: rgb(41, 104, 156);
}
.boxx{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
}
.product1{
   
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

}
.product-list{
    width: 80%;
    margin: auto;
    text-align: center;
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

}
@media(max-width:786px){
  .product-list{
    width: 95%;
  }
}
.feature{
    text-align: center;
    width: 77%;
    margin: auto;
}
.lists{
    justify-content: center;
}
.lists li {
    transition: all 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
.lists li:hover {
  transform: translateY(-5px);
}  

.product1 {
    position: relative;
    
  }
  .likes {
    width: 60%;
    height: 50px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    vertical-align: middle;
  }
  .icons{
    font-size: 22px;
    margin: 15px;
    transition: all 0.3s ease-in-out;
    
  }
.plus1:hover{
    background-color: rgb(73, 72, 72);
}
.heart1:hover{
    background-color: rgb(73, 72, 72);
}
.searchs1:hover{
    background-color: rgb(73, 72, 72);
}
.plus1:hover .icons{
    color: white;
}
.heart1:hover .icons{
    color: white;
}
.searchs1:hover .icons{
    color: white;
}
.product1:hover .likes{
    visibility: visible;
}
.plus1:hover .icons{
    font-size: 29px;
}

.icons {
    font-size: 22px;
    transition: font-size 0.3s, opacity 0.3s;
    
  }
  
  a:hover .icons {
    font-size: 29px;
    opacity: 1;
    transition-delay: 0s;
  }
  /* .likes a{
    border-radius: 100%;
  } */

  .product-item {
    transition: opacity 0.3s ease-in-out;
  }

  .visible {
    opacity: 1;
  }